*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',
    sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: center;
    align-items: center;

    h2{
      padding: 2rem;  
    }

    #logo{
        padding: 2rem;
        text-decoration: none;
        color: black;
    }

    .search-form{
        display: flex;
        padding: 2rem;


        input{
            font-size: 2rem;
            padding: 0.5rem;
            width: 100%;
            border: none;
            border: 2px solid rgb(28, 78, 153);
        }

        button{
            border: none;
            padding: 0.5rem;
            font-size: 1rem;
            background-color: rgb(28, 78, 153);
            color: white;
            cursor: pointer;
        }
        

    }

}
